<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="carros.com.br.crecheepreescola">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">                        <!-- RESPONSÁVEL: Diario_Comun_Calendario_Msg_Activity -->
            <intent-filter>                                                     <!-- PROFESSOR: MainActivity -->
                <action android:name="android.intent.action.MAIN" />            <!-- RESPONSÁVEL: Alunos_Responsavel_Activity -->
                <category android:name="android.intent.category.LAUNCHER" />    <!-- LOGIN: Login -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" /> <!--  -->
        <activity android:name=".activity.Aluno_Com_Prog_Activity" />
        <activity android:name=".activity.Turma_Calend_Activity" />
        <activity android:name=".activity.Diario_Comun_Calendario_Msg_Activity" />
        <activity android:name=".activity.Diario_Msg_Activity"></activity>
        <activity android:name=".activity.Alunos_Responsavel_Activity"></activity>
    </application>

</manifest>